@model WFS.web.Models.MainModel
@{
    ViewBag.Title = "DepartmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Departmanlar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Departman</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">
                        Partnerlerim
                    </h6>
                    <div class="table-responsive">
                        <table id="dataTableExample" class="table">
                            <thead>
                                <tr>
                                    <th>Departman Adı</th>
                                    <th>Tanım</th>
                                    <th>Açıklama</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                @foreach (var item in Model.departments)
                                {
                                    <tr>
                                        <td>@item.Name @ViewBag.message</td>
                                        <td>@item.Title</td>
                                        <td>@item.Definition</td>
                                        <td>@item.Register_Date</td>
                                        <td>
                                            <a class="btn btn-light" href="@Url.Action("EditDepartment","Department",new { id= item.DepartmentId })">Detay</a>
                                            <a class="btn btn-light" onclick="showSwal2('verify','@item.Name',@item.DepartmentId);">Sil</a>
                                            <input id="pId" name="pId" hidden />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wDep" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listelemek istediğiniz departmanın partnerini seçiniz.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select id="firmList" name="firmList" class="form-control col-sm-9">
                        <option value="nt">Partner seçiniz.</option>
                        <option value="all">Tüm departmanları listele.</option>
                        @foreach (var item in Model.partners)
                        {
                            <option value="@item.CustomerFirmManagerId">@item.Client.ManagerFirm.Name</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="depListPost()" class="btn btn-primary">Listele</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
    window.onload = function () {
        $("#wDep").modal();
    };

    function depListPost() {
        var id = $("#firmList").children("option:selected").val();
        var table = $("#tableBody");

        if (id != "all") {
            $.ajax({
                url: "@Url.Action("departmentListPost", "Department")",
                type: "POST",
                data: { customerFirmId: id },
                dataType: 'json',
                success: function (data) {
                    if (data.result == true && data.list != null) {
                        $("#dataTableExample").dataTable().fnDestroy();
                        table.empty();
                        $.each(data.list, function (idx, elem) {
                            table.append("<tr><td>" + elem.Name + "</td><td>" + elem.Title + "</td>   <td>" + elem.Definition + "</td> <td>" + moment(elem.Register_Date).format('DD-MM-YYYY HH:mm:ss')+ "</td> <td> <a class='btn btn-light' href='/Department/EditDepartment/?id=" + elem.DepartmentId + "'>Düzenle</a> l <a class='btn btn-light' href='/Department/DeleteDepartment/?id=" + elem.DepartmentId + "'>Sil</a> </td>  </tr>");
                        });
                        $("#dataTableExample").DataTable();
                        $("#wDep").modal("hide");
                    }
                    else {
                        $("#dataTableExample").dataTable().fnDestroy();
                        table.empty();
                        table.append("<tr> <td valign = 'top' colspan = '5' class= 'dataTables_empty'>" + data.message + "</td> </tr>");
                        $("#wDep").modal("hide");
                    }
                }
            });
        } else {
            $("#wDep").modal("hide");
        }
    }

    $(function () {
        showSwal2 = function (type, name, pid) {
            if (type === 'verify') {
                Swal.fire({
                    title: name+' adlı departmanı silmek istiyor musunuz ?',
                    text: name +" adlı departmana ait tüm iş akış ve iş kayıtları silinecektir ve bu işlemi geri alamazsınız!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Evet, sil!'
                }).then((result) => {
                    if (result.value) { 
                        verifyDelete(pid);
                    }
                })
            }
        }
    })

    function verifyDelete(pid) { 
        $.ajax({ 
            url: "@Url.Action("DeleteDepartment", "Department")",
            type: "POST",
            data: { id: pid },
            success: function (data) { 
                if (data.result == true) {
                    showSwal("success", data.message);
                    setTimeout(function () {
                        location.reload();
                    }, 2000); 
                }
                else {
                    showSwal("error", data.message);
                }
            }
        });
    }
</script> 